<!DOCTYPE html>
<html lang="en " dir="ltr">
<head>
	<meta charset="utf-8">
	<title>TORTBOOK</title>
	<link rel="stylesheet"  href="rabout.css">
	<meta name="viewport" content="width=device-width,initial-sclae=1.0">
</head>
<body>
<div class="about-section">
	<div class="inner-width">
		<h1>About Us</h1>
		<div class="border"></div>
			<div class="about-section-row">
				<div class="about-section-col">
					<div class="about">
						<p>
							Tortbook is a platform to know about new scams ,fraud and other types of crimes occur in your city and your area.And you are also put your fraud,suspicious post on the front page of the website.
						</p>
						<a href="#">Read More</a>
					</div>
				</div>
			</div>
				</div>
			</div>
		
	</div>
</div>
</body>
</html>